.body {
  font-family: sans-serif;
  padding: 0 10px;
  background-image: url(https://i.obozrevatel.com/2016/1/26/208216.jpg?size=1944x924);
  background-size: cover;
}

#greeting {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
  margin-top: 60px;
  color: #f5ebeb;
  opacity: 1;
}

#find-me {
  border-radius: 5px;
  background-color: #0d6efd;
  color: #fff;
  font-size: 16px;
  margin: 0 auto;
  line-height: 18px;
  padding: 10px 22px;
  text-decoration: none;
  transition: all 200ms ease;
  border-width: 0px;
}

#find-me:hover {
  background-color: #0b5ed7;
  cursor: pointer;
}

#city {
  font-weight: 500;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
  margin-top: 10px;
  color: #f5ebeb;
}
#source {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  /* Center the content horizontally */
  align-items: center;
  /* Center the content vertically */
  width: 400px;
  height: 700px;
  border: 5px solid #fff(0, 0, 0);
  border-radius: 10px;
  margin: 80px 350px;
  /* Center the container in the page */
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%);
  opacity: 1;
}
.temperature {
  color: #f5ebeb;
  font-weight: 500;
}
.current-time {
  color: #f5ebeb;
  font-size: 16px;
}

.active {
  color: #f5ebeb;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

.days {
  color: #f5ebeb;
  font-size: 16px;
}
.temperature-max {
  color: #f5ebeb;
  font-size: 16px;
}
.temperature-min {
  color: #f5ebeb;
  font-size: 16px;
  opacity: 0.5;
}
.weather-elements {
  color: #f5ebeb;
  font-size: 18px;
  text-align: left;
}
